*
{
    padding: 0;
    margin: 0;
}
.header
{
    background: linear-gradient(rgba(0.4, 0.4, 0.4, 0.4), rgba(0.4, 0.4, 0.4, 0.4)),
    url(../images/backgrounds/backg4.jpg);
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    text-align: center;
}

.signin
{
    width: 380px;
    height: 480px;
    border-radius: 5%;
    background : black;
    opacity: 93%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}


.signin img
{
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 40%;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.container
{
   padding-top: 70px;
}

.container input
{
    background: transparent;
    border: 1px solid white;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 30px;
    width: 250px;
    border-radius: 10px;
    color: white;
    text-align: center;
}

.container label
{
    color: red;
    font-family: monospace;
    visibility: hidden;
}

.container span
{
    font-size: 14px;
    color: white;
}

.container button
{
    margin-top: 15px;
    border: 2px solid white;
    border-radius: 15px;
    background: linear-gradient(black,darkblue, black);
    height: 30px;
    width: 80px;
    color: white;
}

.container button:hover
{
    height: 31px;
    width: 81px;
}