{% load static %}
{% static "images/packages" as baseUrl %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IP Project</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="{% static 'js/index.js' %}">
    </script>
</head>

<body>
    <section class="header">

        {% if booking_confirmed %}
        <div class="booking_confirmed">
            <h6 onclick="close_booking_modal()">&#10060;</h6>
            <label>BOOKING CONFIRMED</label>
            <div class="circle">
                <span>&#10004;</span>
            </div>
        </div>
        {% endif %}

        <div class="container">
            <img src="{% static 'images/logo.png' %}" class="logo">
            <div class="login_message"> 
                <label>{{login_message}}</label>
            </div>
            
            <form action="signup">
                {% csrf_token %}
                <button id="signup" type="submit" class="signup-btn">Sign up</button>
            </form>
            <form action="login">
                {% csrf_token %}
                <button id="login" type="submit" class="login-btn">Log in</button>
            </form>

            <img id="userimage" class="user" src="{% static 'images/user/user4.png' %}">
            <div class="mybox">
                <label id="username" onclick="details()">{{username}}</label>

            </div>

            <div class="user_information">
                <span onclick=" close_usinfo()">&#10005;</span>
                <br>
                <form action="mybookings">
                    <button id="mybooking" type="submit" class="mybooking-btn"><label>Mybookings</label></button>
                </form>
                <form action="logout">
                    <button type="submit"><label>logout</label></button>
                </form>
            </div>

        </div>

        {% if authenticate %}
        <script type="text/javascript">
            (
                function() {
                    document.getElementById('login').style = "visibility : hidden";
                    document.getElementById('signup').style = "visibility : hidden";
                    document.getElementById('userimage').style = "visibility : visible";
                    document.getElementById('username').style = "visibility : visible";
                    var mybox = document.getElementsByClassName('mybox');
                    for (var i = 0; i < mybox.length; i++) {
                        mybox[i].style = "visibility : visible";
                    }
                }
            )
            ();
        </script>
        {% endif %}

        <h2>Put the roaming mode on..!</h2>
        <form onsubmit="return is_valid_search()" action="search" method="post">
            {% csrf_token %}
            <div class="inputs">
                <input id="from" autocomplete="off" type="text" placeholder="From" name="origin" required>
                <input id="to" autocomplete="off" type="text" placeholder="city or place you want to visit" name="destination" required>
                <br>
                <button type="submit">Search</button>
            </div>
        </form>
        <img src="{% static 'images/tree.png' %}" class="tree">
    </section>

    <!--this is starting of package section-->

    <section class="package_section">
        <h1>Packages</h1>

        {% if req_package %}
        <div class="book_package">
            <div class="content">
                <br><h5>Package Booking</h5>
            <form action="{{req_package}}" method="POST">
                {% csrf_token %}
                <label>Select number of persons</label>
                <select autocomplete="off" name="guests">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <br>
                </select>
                
                <br><label>Select Journey date</label>
                <input required type="date" name="journey_date">
<!--                <br><label>Enter username   </label>-->
<!--                <input required type="text" name="username">-->
<!--                <br><label>Enter password   </label>-->
<!--                <input required type="password" name="password">-->
                <br><button type="submit">Book Now</button>
            </form>
            </div>
        </div>
        {% endif %}

        <div class="container">
            {% for package in packages %}
            <div class="package_one">
                <a href="{% url 'package_booking' package.id %}">
                <h3>{{package.name}}</h3>
                <img  src="{{baseUrl}}/{{package.image}}" alt="{{package.image}}">
                </a>
                <label>Bus : {{package.bus}}</label>
                <br>
                <label>Hotel : {{package.hotel}}</label>
            </div>
            {% endfor %}
        </div>


    </section>
    <!--thi is end of package seciton-->
    <section class="testimonials">
        <h1>User Review</h1>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="review">
                        <p>Genuinly the best money I've spent! I have had the absolute best trip in Madikeri. And also met some amazing people here.
                        </p>

                        <h5>Chetana hegde</h5>
                        <small>Honnavara</small>

                    </div>
                    <img src="{% static 'images/dest/review/chetu1.jpg' %}">
                </div>
                <div class="col-md-4">
                    <div class="review">
                        <p> I would highly recommend this trip and anyone thinking about doing it. Manali is an amazing place!
                        </p>
                        <h5>Niranjana hegde</h5>
                        <small>Sagara</small>

                    </div>
                    <img src="{% static 'images/dest/review/Niranjan.jpg' %}">
                </div>

                <div class="col-md-4">
                    <div class="review">
                        <p>Trip to Goa was absolutly amazing and the beaches really cool. Met some amazing people there.
                        </p>

                        <h5>R Vishwas</h5>
                        <small>Bangalore</small>

                    </div>
                    <img src="{% static 'images/dest/review/vishwas.jpg' %}">
                </div>
            </div>
        </div>
    </section>

    <section class="contact-us">
        <h1>HAVE SOME QUESTIONS?</h1>
        <div id="left" class="left-side">
            <img src="{% static 'images/sign.svg' %}">
            <br>
            <h2>GIVE US A CALL</h2><br>
            <label>SACHIN : +91 9611017485 </label><br>
            <label>YASHASWINI : +91 7676888486</label>
        </div>

        <div id="middle" class="middle-side">
            <img src="{% static 'images/trekking.svg' %}"> <br>
            <h2> COME AND DROP BY </h2> <br>
            <label> UVCE KR CIRCLE</label> <br>
            <label>BANGALORE 560001</label>
        </div>

        <div id="right" class="right-side">
            <img src="{% static 'images/around.svg' %}">
            <h2>SEND US A MESSEGE</h2> <br>
            <label> yashu1999.m@gmail.com </label> <br>
            <label> naiksachin8585@gmail.com</label>
        </div>
    </section>
</body>

</html>