{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DBMS Project</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>

<body>
    <section class="header">
        <div class="container">
            <img src="{% static 'images/logo.png' %}" class="logo">
            <form action="signup">
                {% csrf_token %}
                <button id="signup" type="submit" class="signup-btn">Sign up</button>
            </form>
            <form action="login">
                {% csrf_token %}
                <button id="login" type="submit" class="login-btn">Log in</button>
            </form>

         <img id="userimage" class="user" src="{% static 'images/user/user4.png' %}">
         <div class="mybox">
            <label id="username">{{username}}</label>
         </div>
         
        </div>

        {% if authenticate == True %}
        <script type="text/javascript">
        (
            function()
            {
                document.getElementById('login').style = "visibility : hidden";
                document.getElementById('signup').style = "visibility : hidden";
                document.getElementById('userimage').style = "visibility : visible";
                document.getElementById('username').style = "visibility : visible";
                var mybox = document.getElementsByClassName('mybox');
                for (var i =0 ; i<mybox.length; i++)
                {
                    mybox[i].style = "visibility : visible";
                }
            }
        )
        ();
        </script>
        {% endif %}

        <h2>Put the roaming mode on..!</h2>
        <form action="searchplace" method="POST">
            {% csrf_token %}
            <div class="inputs">
                <input autocomplete="off" type="text" placeholder="From" name="boarding_place">
                <input autocomplete="off" type="text" placeholder="city or place you want to visit" name="search_place">
                <br>
                <button type="submit">Search</button>
            </div>
        </form>
        <img src="{% static 'images/tree.png' %}" class="tree">
    </section>

    <!--this is starting of features section-->

    <section class="features">
        <h1>Featured destinations</h1>
        <div class="container">
            <div class="row">
                <div class="column1">
                    <div class="feature box">
                        <div class="feature-image">
                            <form action="searchplace/Bengaluru" method="POST">
                            {% csrf_token %}
                            <button type="submit"><img src="{% static 'images/dest/blore1.jpg' %}"></button>
                            <div class="price">
                                <label><button type="submit">Bengaluru</button></label>
                                <p>Rs. 10000</p>
                                <h6>3 days, 4 nights</h6>
                            </div>
                            </form>
                            <div class="detail">
                                <p>
                                    Bengaluru is one of the most beautiful city<br> 
                                    Package includes WonderLa and cubbon park <br> 
                                    Bus and flight service is available
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column2">
                    <div class="feature box">
                        <div class="feature-image">
                            <form action="searchplace/Coorg" method="POST">
                            {% csrf_token %}
                            <button type="submit"><img src="{% static 'images/coorg1.jpg' %}"></button>
                            <div class="price">
                                <label ><button type="submit">Coorg</button></label>
                                <p>Rs. 12000</p>
                                <h6>4 days, 5 nights</h6>
                            </div>
                            </form>
                            <div class="detail">
                                <p>
                                    Coorg is a hill town in southern india<br> 
                                    Package includes Madikeri Fort and Abby falls <br> 
                                    Bus service is available
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column3">
                    <div class="feature box">
                        <div class="feature-image">
                            <form action="searchplace/Mumbai" method="POST">
                            {% csrf_token %}
                            <button type="submit"><img src="{% static 'images/dest/mumbai3.jpg' %}"></button>
                            <div class="price">
                                <label><button type="submit">Mumbai</button></label>
                                <p>Rs. 25000</p>
                                <h6>5 days, 6 nights</h6>
                            </div>
                            </form>
                            <div class="detail">
                                <p>
                                    Mumbai is India's largest city in west coast <br> 
                                    Package includes gateway of india and Kanheri <br> 
                                    caves. Bus and flight service is available
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- this is end of class row 1 -->
            <br>
            <div class="row">
                <div class="column1">
                    <div class="feature box">
                        <div class="feature-image">
                            <form action="searchplace/Kolkatta" method="POST">
                            {% csrf_token %}
                            <button type="submit"><img src="{% static 'images/dest/kolkata 2.jpg' %}"></button>
                            <div class="price">
                                <label><button type="submit">Kolkatta</button></label>
                                <p>Rs. 20000</p>
                                <h6>4 days, 5 nights</h6>
                            </div>
                            </form>
                            <div class="detail">
                                <p>
                                    kolkata is known as "The City of Joy".<br> 
                                    package includes Victoria memorial and Indian<br> 
                                    Museum. Bus and flight service is available
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column2">
                    <div class="feature box">
                        <div class="feature-image">
                            <form action="searchplace/Manali" method="POST">
                            {% csrf_token %}
                            <button type="submit"><img src="{% static 'images/dest/manali.jpg' %}"></button>
                            <div class="price">
                                <label><button type="submit">Manali</button></label>
                                <p>Rs. 40000</p>
                                <h6>5 days, 6nights </h6>
                            </div>
                            </form>
                            <div class="detail">
                                <p>
                                    Manali is a Himalayan resort town in India<br>
                                     Package includes Solang and Parvati Valley <br> 
                                     Bus and Train service is available.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column3">
                    <div class="feature box">
                        <div class="feature-image">
                            <form action="searchplace/Munnar" method="POST">
                            {% csrf_token %}
                            <button type="submit"><img src="{% static 'images/dest/munnar2.jpg' %}"></button>
                            <div class="price">
                                <label><button type="submit">Munnar</button></label>
                                <p>Rs. 15000</p>
                                <h6>3 days, 4 nights</h6>
                            </div>
                            </form>
                            <div class="detail">
                                <p>
                                    Munnar is a town in western Ghats <br> 
                                    package includes Nilgirim tahr and Lakkam <br> 
                                    Waterfalls. bus and flight service is available
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- this is end of class row 2-->
        </div>
    </section>
    <!--thi is end of featured places seciton-->

    <section class="testimonials">
        <h1>User Review</h1>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="review">
                        <p>Genuinly the best money I've spent!
                            I have had the absolute best trip in Madikeri.
                            And also met some amazing people here.
                        </p>

                        <h5>Chetana hegde</h5>
                        <small>Honnavara</small>

                    </div>
                    <img src="{% static 'images/dest/review/chetu1.jpg' %}">
                </div>
                <div class="col-md-4">
                    <div class="review">
                        <p> I would highly recommend this trip and anyone thinking about doing it. Manali is an amazing place!
                        </p>
                        <h5>Niranjana hegde</h5>
                        <small>Sagara</small>

                    </div>
                    <img src="{% static 'images/dest/review/Niranjan.jpg' %}">
                </div>

                <div class="col-md-4">
                    <div class="review">
                        <p>Trip to Goa was absolutly amazing and the beaches really cool. Met some amazing people there.
                        </p>

                        <h5>R Vishwas</h5>
                        <small>Bangalore</small>

                    </div>
                    <img src="{% static 'images/dest/review/vishwas.jpg' %}">
                </div>
            </div>
        </div>
    </section>

    <section class="contact-us">
        <h1>HAVE SOME QUESTIONS?</h1>
        <div id="left" class="left-side">
            <img src="{% static 'images/sign.svg' %}">
            <br>
            <h2>GIVE US A CALL</h2><br>
            <label>SACHIN : +91 9611017485 </label><br>
            <label>YASHASWINI : +91 7676888486</label>
        </div>

        <div id="middle" class="middle-side">
            <img src="{% static 'images/trekking.svg' %}"> <br>
            <h2> COME AND DROP BY </h2> <br>
            <label> UVCE KR CIRCLE</label> <br>
            <label>BANGALORE 560001</label>
        </div>

        <div id="right" class="right-side">
            <img src="{% static 'images/around.svg' %}">
            <h2>SEND US A MESSEGE</h2> <br>
            <label> yashu1999.m@gmail.com </label> <br>
            <label> naiksachin8585@gmail.com</label>
        </div>
    </section>
</body>

</html>