{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DBMS Project</title>
    <script src= "{% static 'js/login.js' %}"> </script>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
   
</head>
<body>
    <section class="header">
        <div class="login">
            <img src="{% static 'images/user/user3.png' %}">
            <div class="inputs">
                <div class="reset_password">
                    <h4> Welcome to password reset wizard! </h4>
                </div>
                <form onsubmit=" return validate()" action="login" method="post">
                    {% csrf_token %}
                    <input id="username" autocomplete="off" name="username" type="text" placeholder="Username or E mail">
                    <br>
                    <input id="password" autocomplete="off" name="password" type="password" placeholder="Password">
                    <br>
                    <label id="warning">{{message}}</label>
                    <br>
                    <span>Don't have an account? <a href="signup"> Get Started! </a> </span>
                    <br>
                    <span onclick="reset()"><a href="#">Forgot password</a></span> 
                    <br>
                    <button type="submit">Login</button>
                </form>
                
            </div>

        </div>
    </section>
</body>
</html>