{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DBMS Project</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
   
</head>
<body>
    <section class="header">
        <div class="login">
            <img src="{% static 'images/user/user3.png' %}">
            <div class="inputs">
                <form action="logged_in" method="post">
                    {% csrf_token %}
                    <input name="username" type="text" placeholder="Username or E mail">
                    <br>
                    <input name="password" type="password" placeholder="Password">
                    <br>
                    <label>{{message}}</label>
                    <br>
                    <button type="submit">Login</button>
                </form>
            </div>
        </div>
    </section>
</body>
</html>