{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DBMS Project</title>
    <link rel="stylesheet" href="{% static 'css/mybookings.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
    <section class="header">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <!-- Brand/logo -->
            <a class="navbar-brand" href="#">
              <img src="{% static 'images/logo.png' %}" alt="logo" style="width:40px;">
            </a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="Name">
                  <h2>YES TRAVELS</h2>
                </li>
                <li>
                    <img id="userimage" class="user" src="{% static 'images/user/user4.png' %}">
                    <div class="mybox">
                        <label id="username" onclick="details()">{{username}}</label>
                    </div>
                </li>
            </ul>
        </nav> 

        <div class="cancel_booking">
            <span>&#10006;</span><br>
            <label>Enter your password below to confirm cancellation</label>
            <input type="password" placeholder="password"><br>
            <button>confirm cancellation</button>
        </div>

        <div class="bus_headings">
            <div id="columns">
                <label>Bus Name</label>
            </div>
            <div id="columns">
                <label>Timings</label>
            </div>
            <div id="columns">
                <label>Amount & Ticket</label>
            </div>
            <div id="columns">
                <label>Journey Date</label>
            </div>
            <div id="columns">
                <label>Booking Date & Time</label>
            </div>
        </div>

        {% for bus in bus_bookings %}
            <div class="bus_bookings">
                <div id="column_values">
                    <label>{{bus.busname}}</label>
                </div>
                <div id="column_values">
                    <label>{{bus.departure}}</label><br>
                    <label>{{bus.arrival}}</label>
                </div>
                <div id="column_values">
                    <label>{{bus.amount}} INR </label><br>
                    <label>{{bus.seats}} seats </label>
                </div>
                <div id="column_values">
                    <label>{{bus.journey_date}}</label>
                </div>
                <div id="column_values">
                    <label>{{bus.booking_date}}</label><br>
                    <label>{{bus.booking_time}}</label>
                </div>
                <h6>{{bus.journey_over}}</h6>
                {% if bus.journey_not_over %}
                <div>
                    <button> Cancel Booking </button>
                </div>
                {% endif %}
            </div>
        {% endfor %}

        <div class="hotel_headings">
            <div id="columns">
                <label>Hotel Name</label>
            </div>
            <div id="columns">
                <label>Date</label>
            </div>
            <div id="columns">
                <label>Amount Paid</label>
            </div>
            <div id="columns">
                <label>Booking Date & Time</label>
            </div>
            <div id="columns">
                <label>Rooms & Guests</label>
            </div>
        </div>

        {% for hotel in hotel_bookings %}
        <div class="hotel_bookings">
            <div id="column_values">
                <label>{{hotel.name}}</label>
            </div>
            <div id="column_values">
                <label>CheckIn : {{hotel.checkin}}</label><br>
                <label>CheckOut : {{hotel.checkout}}</label>
            </div>
            <div id="column_values">
                <label>{{hotel.amount_paid}} INR</label>
            </div>
            <div id="column_values">
                <label>Booking Date :  {{hotel.booking_date}}</label>
                <label>Booking Time :  {{hotel.booking_time}}</label>
            </div>
            <div id="column_values">
                <label>Rooms : {{hotel.rooms}}</label><br>
                <label>Guests : {{hotel.guests}}</label>
            </div>
            {% if hotel.checkin_not_over %}
            <div>
                <button>Cancel Booking</button>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </section>
</body>
</html>