{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DBMS Project</title>
    <script src="{% static 'js/signin.js' %} "></script>
    <link rel="stylesheet" href="{% static 'css/signin.css' %} ">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
   
</head>
<body bgcolor="cyan">
    <section class="header">
        <div class="signin">
            <img src="{% static 'images/user/user2.png' %}">
            <div class="container">
                <form  onsubmit="return validate()" action="signup" method="post">
                    {% csrf_token %}
                    <input  type="text" placeholder="Name" id="name" name="name">
                    <br>
                    <input autocomplete="off" type="text" placeholder="User Name" id="username" name="username">
                    <br>
                    <input  type="email" placeholder="Email Id" id="email" name="email">
                    <br>
                    <input  type="text" placeholder="Phone Number" id="phone" name="phone">
                    <br>
                    <input  type="password" placeholder="Password" id="password" name="password">
                    <br>
                    <input  type="password" placeholder="Confirm Password" id="con_password" name="confirm_password">
                    <br>
                    <label id="label"> {{error_message}} </label>
                    <br>
                    <span>Already have an account? <a href="login"> Login here </a></span>
                    <br>
                    <button type="submit">Sign in</button>
                </form>
            </div>
        </div>
    </section>
</body>
</html>