{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DBMS Project</title>
    <link rel="stylesheet" href="{% static 'css/signin.css' %} ">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
   
</head>
<body bgcolor="cyan">
    <section class="header">
        <div class="signin">
            <img src="{% static 'images/user/user2.png' %}">
            <form action="signed_up" method="post">
                {% csrf_token %}
                <input autocomplete="off" type="text" placeholder="Name">
                <br>
                <input autocomplete="off" type="text" placeholder="User Name">
                <br>
                <input autocomplete="off" type="email" placeholder="Email Id">
                <br>
                <input autocomplete="off" type="text" placeholder="Phone Number">
                <br>
                <input autocomplete="off" type="password" placeholder="Password">
                <br>
                <input autocomplete="off" type="password" placeholder="Confirm Password">
                <br>
                <button type="submit">Sign in</button>
            </form>
        </div>
    </section>
</body>
</html>