{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DBMS Project</title>
    <script src="{% static 'js/signin.js' %} "></script>
    <link rel="stylesheet" href="{% static 'css/signin.css' %} ">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
   
</head>
<body bgcolor="cyan">
    <section class="header">
        <div class="signin">
            <img src="{% static 'images/user/user2.png' %}">
            <form  onsubmit="return validate()" action="signup" method="post">
                {% csrf_token %}
                <input autocomplete="off" type="text" placeholder="Name" id="name">
                <br>
                <input autocomplete="off" type="text" placeholder="User Name" id="username">
                <br>
                <input autocomplete="off" type="email" placeholder="Email Id" id="email">
                <br>
                <input autocomplete="off" type="text" placeholder="Phone Number" id="phone">
                <br>
                <input autocomplete="off" type="password" placeholder="Password" id="password">
                <br>
                <input autocomplete="off" type="password" placeholder="Confirm Password" id="con_password">
                <br>
                <label id="label"> Invalid inputs for some fields </label>
                <button type="submit">Sign in</button>
            </form>
        </div>
    </section>
</body>
</html>